<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Generate</title>
</head>
<body>
<form action="/users/generate" method="get">
  <div>
    <label for="name"> Get 100 random people:</label>
    <input type="text", name="count" id="name" value="100">
  </div>
    <div>
        <input type="submit" value="Generation">
    </div>
</form>
    <div style="margin: 10px;">
        <p>{% for user in users %}
            Name: {{ user["Name"] }} | Email: {{ user["Email"] }}<br>
            {% endfor %}</p>
    </div>
</body>
</html>